.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: .4);
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
    padding: 2rem calc(4rem + 15px) 2rem 4rem;
    
    @media screen and (max-width: 40rem) {
        padding: 2rem calc(2rem + 15px) 2rem 2rem;
    }
}