.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;

  &:hover .visualizacao {
    display: flex;
  }

  img {
    grid-area: 1/1;
  }

  .visualizacao {
    grid-area: 1/1;
    background: rgba($color: #000000, $alpha: 0.3);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;

    &::before {
        width: 16px;
        height: 10px;
        content: '';
        display: inline-block;
        margin-right: .25rem;
        background: url('../../assets/visualizacao.svg') no-repeat;
    }
  }

  &:nth-child(2) {
    grid-column: 2/4;
    grid-row: span 2;

    @media screen and (max-width: 40rem) {
      grid-column: initial;
      grid-row: initial;
    }
  }
}
