.login {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  gap: 2rem;

  @media screen and (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;
  }

  &::before {
    display: none;

    @media screen and (min-width: 40rem) {
      display: block;
      content: "";
      background: url("../../assets/login.jpg") no-repeat center center;
      background-size: cover;
    }
  }

  .forms {
    max-width: 100%;
    padding: 1rem;

    @media screen and (min-width: 40rem) {
      max-width: 30rem;
    }
  }
}
