@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&family=Spectral:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", Georgia;
  font-family: var(--type-first);
  padding-top: 4em;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  border: none;
  display: block;
  outline: none;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 4rem;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fb1;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.2rem;
    z-index: -1;
    bottom: 5px;
    left: -5px;
  }
}

.animeLeft {
  opacity: 0;
  transform: translate(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.error {
  color: #f31;
  margin: 1rem 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);

  .appBody {
    flex: 1;
  }
}